<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Course</title>
    </head>
    <body>
        {% include '/header.html' %}
        {% if videos|length == 0 %}
            <h3>No video available</h3>
        {% else %}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8">
                        <video width="500px" height="400px" id="iframe_div" controls autoplay>
                            <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="col-md-4">
                        {% for video in videos %}
                            <h6 style="cursor: pointer;" class="change_frame_video" data-video_id="{{video._id}}">{{video.title}}</h6>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </body>
    <script>
        $(document).on("click",".change_frame_video",function(event) {
            $.ajax({
                url: `${window.location.pathname}/${$(this).data("video_id")}` , // point to server-side URL
                type: 'GET',
                success: function (data) {
                    var iframe_body = `
                        <source src="${data['video_url']}" type="video/mp4">
                                    Your browser does not support the video tag.`
                    $('#iframe_div').empty().append(iframe_body);
                    console.table(data);
                    console.log(data['video_url']);
                },
                error: function (data){
                    alert('Something went wrong.');
                },
            });

        });
    </script>
</html>